body {
    background-color: rgb(3, 130, 77);
}
.navbar {
    background-color: rgb(10, 10, 10) !important; 
    min-height: 5.625em;
    max-height: 5.625em;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-brand {
    padding-right: 20px;
}

a.nav-link {
    font-family: 'Monda', sans-serif;
    font-size: 21px;
    color: rgb(15, 129, 135) !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

a.nav-link:hover {
    color: white !important;
    transition: 0.6s;
}

a.nav-slogan {
    pointer-events: none;
    font-size: 30px;
    font-family: 'Shrikhand', cursive;
    color: rgb(15, 129, 135) !important;
}

.text {
    width: 75%;
    margin: auto;
    margin-top: 30px;
}

.text p {
    font-size: 25px;
    color: white;
    line-height: 50px;
}

@media only screen and (max-width: 992px) {
    a.nav-slogan {
        display: none;
    }
}

