body {
    background-color: rgb(3, 130, 77);
}

.navbar {
    background-color: rgb(10, 10, 10) !important;  
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-brand {
    padding-right: 20px;
}

a.nav-link {
    font-family: 'Monda', sans-serif;
    font-size: 21px;
    color: rgb(15, 129, 135) !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

a.nav-link:hover {
    color: snow !important;
    transition: 0.6s;
}

a.nav-slogan {
    pointer-events: none;
    font-size: 30px;
    font-family: 'Shrikhand', cursive;
    color: rgb(15, 129, 135) !important;
}

.grid-container {
  display: grid;
  grid-template-areas:  
    'left right';
} 

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.news {
    height: 370px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(10, 10, 10);
}

.image {
    height: 65%;
    background-color: snow;
}

.image img {
    min-height: 100%;
    width: 100%;
}


.title {
    height: 35%;
    font-size: 25px;
    color: rgb(15, 129, 135) !important;
    text-align: center;
}

.title p {
    font-family: 'Kumbh Sans', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    
}

.footer {
    margin-top: 70px; /* HAVE TO ADJUST ONCE CONTENT IS ADDED */
    height: 100px;
    background-color: rgb(10, 10, 10);
}

.fa {
margin-top: 20px;
  margin-left: 15px;
  padding: 20px;
  font-size: 200px;
  width: 55px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: red;
  color: white;
}

.fa-instagram {
  background: dodgerblue;
    color: white;
}

@media only screen and (max-width: 992px) {
    a.nav-slogan {
        display: none;
    }
}

@media (max-width: 650px) {
  .grid-container  {
    grid-template-areas: 
        'left'
        'right';
    }
    
    .title p {
        font-size: 21px;
    }
}

